.background {
    width: 100%;
    height: 100%;
    background-color: #717171;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    background-image: url(../.././images/site/bg1440_2-0.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.homePage {
    max-width: 100%;
    box-sizing: border-box;
    width: 1440px;
    height: 910px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePageMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 786px;
    height: 695px;
}

.logoBlock {
}

.logoBlock img {
    width: 380px;
    height: 345px;
}

.fractionsBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fraction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 188px;
    height: 252px;
}

.fractionImg img {
    width: 186px;
    height: 186px;
    border: 1px solid #DBAE64;
    border-radius: 50%;

}

.fractionName {
    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    background: -webkit-linear-gradient(#F4DCB3, #5C3D06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .background {
        background-color: #0C0C0C;
    }

    .fractionsBlock {
        height: 252px;
    }

    .logoBlock img {
        width: 284px;
        height: 257px;
    }

    .homePage {
        width: 1024px;
        height: 768px;
    }

    .homePageMain {
        width: 652px;
        height: 582px;
    }
}

@media screen and (max-width: 768px) {

    .logoBlock img {
        width: 444px;
        height: 401px;
    }

    .homePage {
        width: 768px;
        height: 1024px;
    }

    .homePageMain {
        width: 652px;
        height: 774px;
    }

}

@media screen and (max-width: 320px) {
    .logoBlock img {
        width: 202px;
        height: 181px;
    }

    .homePage {
        width: 320px;
        height: 719px;
        font-size: 19px;
    }

    .homePageMain {
        width: 292px;
        height: 589px;
    }

    .fractionsBlock {
        height: 349px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fractionImg img {
        width: 120px;
        height: 120px;
    }

    .fraction {
        width: 120px;
        height: 156px;
    }
}